### Dış Kaynaktan Veri okuma

In [11]:
import pandas as pd

In [10]:
pd.read_csv("C:/Users/beyza/Downloads/reading_data/reading_data/ornekcsv.csv",sep=";")

      a    b     c
0    78   12   1.0
1    78   12   2.0
2    78  324   3.0
3     7    2   4.0
4    88   23   5.0
5     6    2   NaN
6    56   11   6.0
7     7   12   7.0
8    56   21   7.0
9   346    2   8.0
10    5    1   8.0
11  456   21   8.0
12    3   12  88.0

In [12]:
pd.read_csv("C:/Users/beyza/Downloads/reading_data/reading_data/duz_metin.txt",sep=";")

    1 2
0   2 2
1   3 2
2   4 2
3   5 2
4   6 2
5  7 2
6   8 2
7   9 2
8  10 2